body
{
background-color:lightblue;
}

.div{
margin:auto;
padding:50px;
width:50%;
height:100%;
background-color:white;
}
.d1{
float:left;
width:50%;
height:270px;
}
.d2{
float:right;
width:45%;
height:270px;
}
label{
font-style:Calibri;
font-size:15px;
}
.label1
{
font-style:Calibri;
font-size:15px;
}